@font-face {
 		font-family: MyriadPro;
  		src:url('fonts/MyriadPro.otf');
	}

	body {
		height: 2000px;
		font-family: MyriadPro;
		
	}

	.container {
		padding-top: 10px;
	    width: 500px;
	    margin: auto;
	}

	.sheet {
	    position: absolute;
	    width: 520px;
	    height: 746px;
	    border: 2px solid;
	}

	.first-sheet {
	    background:#ebebeb;
	}

	.second-sheet {
	    background-color:#cccccc;
	    z-index: -1;
	    margin-left: 18px;
	    margin-top: 18px;
	}

	.third-sheet {
	    background:#acacac;
	    z-index: -2;
	    margin-left: 36px;
	    margin-top: 36px;
	}

	.content {
		margin: 40px 30px 30px 30px;
		font-size: 12px;

	}

	img:first-of-type  {
		float: left;
		margin: 0px 20px 0px 0px;
	}

	img {
		float: right;
		margin-left: 10px;
	}

	.first-title {
		margin-bottom: 7px;
   	 	font-size: 1.55rem;
   	 	font-weight: 100;
   	 	border: 0px 0px 0px 0px;
	}

	.text {
		font-size: 12px;
    	margin-top: 0px;
    	margin-bottom: 0px;
	}

	.second-title {
		font-weight: 500;
    	font-size: 1.1rem;
	}

	.bottom-image-left {
		margin: 0px 35px 7px 0px;
	}

	.bottom-image-right {
		margin: 0px 0px 7px 35px
	
	}

	.footer-text {
		clear: both;
	    text-align: center;
	    font-size: 10px;
	    padding-top: 20px;
	    margin: 0 8px;
	}

	.bookmark {
	    position: absolute;
	    top: 40px;
	    width: 110px;
	    height: 35px;
	    border: 2.2px solid;
	    border-radius: 0px 10px 10px 0;
	}

	.first-bookmark {
	    right: -80px;
	    background: #f68e56;
	}

	.second-bookmark {
	    right: -50px;
	    background: #39b54a;
	}

	.third-bookmark {
	    right: -17px;
	    background: #00aeef;
	}


	.share-this {
		position: fixed;
	    background: #fbaf5d;
	    border: solid 1.5px;
	    width: 90px;
	    height: 60px;
	    bottom: 100px;
	    right: 2px;

	}

	.share-this .align-text {
		margin-top: 8px;
	    text-align: center;
	}

	.share-this .align-image {
		position:absolute;
	    margin: auto;
	    margin-bottom: 10px;
	    left:0;
	    right:0;
	    bottom:0;
	}